.blog-post {
  width: 50%;
  height: 20%;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 15px;
  display: flex;
  overflow: hidden;
  color: black;
  position: relative;
}
.blog-post-content {
  width: 50%;
}
.blog-post-content h1 {
  font-size: 2vw;
}
.blog-post-content p {
  margin-top: 10px;
  font-size: 1.4vw;
  min-height: 40%;
  background: linear-gradient(
    to top,
    rgba(30, 87, 153, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog-post a {
  display: block;
  width: 100%;
  padding-top: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.6vw;
  color: #fff;
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0) 0%,
    rgba(0, 111, 238, 1) 100%
  );
}

.blog-post a:hover {
  color: #000;
}

.blog-post-image {
  width: 50%;
  height: 100%;
  background-size: contain;
}
