.home {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
}
.home-name {
  /* color: rgb(0, 111, 238); */
  color: black;
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  /* text-shadow: -8px 4px rgb(255, 218, 98); */
  border: none;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  /* width: 100%; */
  border-right: 5px solid black;
  animation: type 2s forwards steps(19, end);
}

/* https://stackoverflow.com/questions/33486228/how-to-fade-in-reveal-one-letter-at-a-time */
@keyframes type {
  0% {
    width: 0;
  }

  99% {
    border-right: 5px solid black;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}
.home-statement {
  color: #000;
  font-size: 4vw;
  /* font-size: 20px; */
  /* display: inline-block; */
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}

.statement-title {
  /* background: #ededed; */
  background: linear-gradient(180deg, #d9eaf3 0%, #fff 8%) 0 4px;
  background-size: 100% 23px;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(255, 0, 0, 0.8);
  padding: 0px 5px;
  margin: 10px;
}
.statement-creativity {
  color: #fff;
  text-shadow: 0px 0px 0px #1e88e5, -3px 2px #1e88e5, 0px 4px rgb(240, 240, 120),
    4px 3px 0px salmon, -8px 4px lightgreen;
}
.statement-happy {
  animation: change-colors 25s infinite alternate ease-in-out;
}
.statement-users {
  filter: invert(1);
}

@keyframes change-colors {
  0% {
    color: rgb(0, 111, 238);
  }
  25% {
    color: salmon;
  }
  50% {
    color: lightgreen;
  }
  65% {
    color: #ffea28;
  }
  80% {
    color: #ba68c8;
  }
  100% {
    color: rgb(0, 111, 238);
  }
}
