nav {
  height: 100%;
  width: 25%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  background: rgb(0, 111, 238);
  padding: 0 20px;
}
.nav-opener {
  position: fixed;
  left: 0;
  font-size: 2vw;
  background: rgb(0, 111, 238);
  padding: 5px 8px;
  z-index: 2;
}
.nav-top {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-top img {
  height: 30vh;
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.nav-top h1 {
  font-size: 40px;
}
.nav-links {
  margin-top: 30px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-links a {
  margin-bottom: 10px;
}
nav a:hover {
  color: #141519;
}
.nav-contact {
  text-align: left;
  font-size: 2vw;
  user-select: text;
  position: absolute;
  bottom: 10px;
}
.nav-contact button {
  margin: 0;
  font-size: 2vw;
}
.nav-contact button:hover {
  color: #141519;
}
.nav-contact p {
  margin-bottom: 10px;
}
.copy-button {
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  padding: 0;
  margin-bottom: 8px;
  cursor: pointer;
  user-select: none;
}
.copy-button:hover .copy-button p {
  color: #141519;
}
